*{
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -ms-box-sizing: border-box;
 -o-box-sizing: border-box;
 -moz-box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
 font-size: 16px;
 font-family: monospace, "Helvetica Neue", Helvetica, Verdana, sans-serif;
 background-color: #fff;
 text-align: center;
 color: #666;
}

#pagewrap{
 max-width: 960px;
 width: 100%;
 margin: 0 auto;
}

.gallery{
 width: 100%;
 margin: 0 auto;
 padding-top: 10vh;
 padding-bottom: 10vh;
 display: flex;
 flex-wrap: wrap;
}

.image{
 width: 28%;
 border: 1.5px solid #ccc;
 padding: 10px;
 margin: 2% 2%;
 flex-grow: 1;
}

.image img{
 max-width: 100%;
 margin: 0 auto;
}

.image:hover{
 box-shadow: 0 1px 30px rgba(0,0,0,.3);
 transform: scale(1.10);
 border: none;
 transition: box-shadow 0.2s ease, transform 0.2s ease;
 z-index: 1;
}

.image p{
 padding: 10px;
}

@media (max-width: 900px){
 .image{
  width: 30%;
 }
}

@media (max-width: 600px){
 .image{
  width: 50%;
 }
 .galler{
  padding: 10vh;
 }
}
